<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <h1>Информация о пользователе с id={{ user_id }}</h1>
    <p>Имя: {{ user_name }}</p>
    <p>id подписки: {{ sub_id }}</p>
    <p>Валюты в подписке: {{ sub_vals }}</p>
    <table>
      <thead>
        <tr>
            <th>ID валюты</th>
            <th>Код валюты</th>
            <th>Название</th>
            <th>Курс валюты</th>
        </tr>
      </thead>
      <tbody>
      {% for item in all_vals %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <a href="/users">Ко всем пользователям</a>

    <p>Автор: {{ author }}</p>
    <p>Версия приложения: {{ version }}</p>
    <a href="/">На главную</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>