<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <h1>Информация о всех валютах (Актуальная)</h1>
    <p>Для обновления курсов валют обновите страницу</p>
    <table>
      <thead>
        <tr>
            <th>ID валюты</th>
            <th>Код валюты</th>
            <th>Название</th>
            <th>Курс валюты (RUB)</th>
        </tr>
      </thead>
      <tbody>
      {% for item in all_vals %}
        <tr>
            <td>{{ item['id'] }}</td>
            <td>{{ item['char_code'] }}</td>
            <td>{{ item['name'] }}</td>
            <td>{{ item['value'] }}</td>
            <td>{{ item['nominal'] }}</td>
            <td><a href="/currency/delete?id={{item['id']}}">Удалить</a></td>
            <td><a href="/currency/update?val={{item['char_code']}}">Обновить курс на актуальный</a></td>

        </tr>
      {% endfor %}
      </tbody>
    </table>

    <p>Автор: {{ author }}</p>
    <p>Версия приложения: {{ version }}</p>
    <a href="/">На главную</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>